<div class="form">
	<%= form_for @user do |f| %>
		<div class="form-item">
			<h4>First Name</h4>
			<%= f.text_field :first_name %>
		</div>

		<div class="form-item">
		<h4>Last Name</h4>
			<%= f.text_field :last_name %>
		</div>

		<div class="form-item">
			<h4>Email</h4>
			<%= f.text_field :email %>
		</div>

		<div class="form-item">
			<h4>Password</h4>
			<%= f.password_field :password %>
		</div>
		
		<div class="form-item">
			<%= f.submit "Sign Up", class: "remove" %>
		</div>
	<% end %>
</div>