<div class="form">
	<p class="remove">
		<%= link_to "Edit", edit_user_path(@user) %> | 
		<%= link_to 'Delete', @pokemon,
	    	method: :delete,
	    	data: { confirm: 'Are you sure you want to delete?' } %>
	</p>
	<h1><%= @user.email %></h1>
	<h3>Name: <%= @user.first_name %> <%= @user.last_name %></h3>
	<div class="container">
		<% @user.pokemons.each do |pokemon| %>
			<div class="pokemon">
				<h3><%= link_to pokemon.name, pokemon_path(pokemon) %></h3>
				<img class="img" src="https://img.pokemondb.net/sprites/black-white/anim/normal/<%= pokemon.name.downcase %>.gif" width="100px" height="100px">
			</div>
		<% end %>
	</div>
</div>