<div class="form">
	<%= form_for @pokemon do |f| %>
	  	<div class="form-item">
	  		<%= f.select :name, options_for_select(@pokemons.map{ |i| i }, @pokemon.name) %>
	  	</div>
	  	<br>
	  	<div class="form-item">
			<%= f.label :cp, "CP" %>
			<%= f.text_field :cp %>
	  	</div>
 		<div class="form-item">
			<%= f.label :description %>
			<%= f.text_field :description %>
 		</div>
	  	<div class="form-item">
			Pokemon TYPE:
			<div class="type-wrapper">
				<% @types.each do |type| %>
					<label>
					<input type="radio" name="pokemon[poke_type]" value="<%= type %>" <%= @pokemon.poke_type == type ? "checked" : ""  %>></input>
					<span class="type-icon type-<%= type.downcase %>"><%= type %></span>
					</label>
				<% end %>
			</div>
	   	</div>
	   	<div class="form-item">
	   		Moves:
	   		<div class="type-wrapper">
			   	<% Move.all.each do |move| %>
			   		<div class="item">
			   			<label>
				   		<%= f.check_box :moves, { multiple: true }, move.name, nil %>
				   		<%= move.name %>
				   		</label>
			   		</div>
			   	<% end %>
		   	</div>
	   	</div>

	  <%= f.submit "Submit", :class => "remove" %>
	<% end %>
</div>