<div class="form">
	<%= form_for @pokemon do |f| %>
	<%= button_to 'Delete', @pokemon, :class => "remove", 
            	method: :delete,
            	data: { confirm: 'Are you sure you want to delete?' } %>
	  	<div class="form-item">
	  		<%= f.select :name, options_for_select(@pokemons.map{ |i| i }, @pokemon.name) %>
	  	</div>
	  	<br>
	  	<div class="form-item">
			<%= f.label :cp, "CP" %>
			<%= f.text_field :cp %>
	  	</div>
 		<div class="form-item">
			<%= f.label :description %>
			<br>
			<%= f.text_area :description, rows: 7 %>
 		</div>
	  	<div class="form-item">
			Pokemon TYPE:
			<div class="type-wrapper">
				<% @types.each do |type| %>
					<label>
					<input type="radio" name="pokemon[poke_type]" value="<%= type %>" <%= @pokemon.poke_type == type ? "checked" : ""  %>></input>
					<span class="type-icon type-<%= type.downcase %>"><%= type %></span>
					</label>
				<% end %>
			</div>
	   	</div>
	  	<div class="form-item container">
		   	<label class="form-item">
		   		<h4>Quick Move</h4>
		  		<%= select_tag "move1", options_for_select(Move.all.map{ |i| i.name }, :selected => @pokemon.moves.first.name) %>
		  	</label>
		  	<br>
		  	<label class="form-item">
		  		<h4>Main Move</h4>
		  		<%= select_tag "move2", options_for_select(Move.all.map{ |i| i.name }, :selected => @pokemon.moves.last.name) %>
		  	</label>
	   	</div>

	<%= f.submit "Submit", :class => "remove" %>
	<% end %>
</div>