<%= link_to "Add Pokemon", new_pokemon_path %>
<input type="text" placeholder="Search for a pokémon" autocomplete="off" autofocus="">
<div class="container">
	<% @pokemons.each do |pokemon| %>
		<div class="pokemon type-<%= pokemon.poke_type.downcase %>">
			<p class="remove"><%= link_to "Edit", edit_pokemon_path(pokemon) %></p>
			<h1><%= link_to pokemon.name, pokemon_path(pokemon) %></h1>
			<img class="img" src="https://img.pokemondb.net/sprites/black-white/anim/normal/<%= pokemon.name.downcase %>.gif" width="100px" height="100px">
		</div>
	<% end %>
</div>