<%= form_tag pokemons_path, :method => 'get' do %>
  <p>
    <%= text_field_tag :search, params[:search], placeholder: "Search for a pokémon" %>
    <%= submit_tag "Search", :name => nil, class: "search" %>
  </p>
<% end %>
<hr>
<div class="menu">
	<% if @current_user %>
		<%= link_to image_tag("add.png", class: "add"), new_pokemon_path %>
    <% end %>
</div>
<div class="container">
	<% @pokemons.each do |pokemon| %>
		<div class="pokemon type-<%= pokemon.poke_type.downcase %>">
			<% if @current_user %>
				<p class="remove"><%= link_to "Edit", edit_pokemon_path(pokemon) %></p>
			<% end %>
			<h1><%= link_to pokemon.name, pokemon_path(pokemon) %></h1>
			<img class="img" src="https://img.pokemondb.net/sprites/black-white/anim/normal/<%= pokemon.name.downcase %>.gif" width="100px" height="100px">
		</div>
	<% end %>
</div>