<div class="form">
	<%= form_for @pokemon do |f| %>
	  	<div class="form-item">
	  		<%= f.select :name, options_for_select(@pokemons.map{ |i| i }) %>
	 	 </div>
	 	 <br>
	 	 <div class="form-item">
	 	 <h4>CP</h4>
		  <%= f.text_field :cp %>
	  	</div>
	  	<div class="form-item">
	  		<h4>Description</h4>
		  <%= f.text_area :description, rows: 7 %>
	  	</div>
	  	<div class="form-item">
			<h4>Pokemon TYPE:</h4>
			<div class="type-wrapper">
				<% @types.each do |type| %>
					<label>
						<input type="radio" <%= type == "Normal" ? "checked" : ""  %> name="pokemon[poke_type]" value="<%= type %>"></input>
						<span class="type-icon type-<%= type.downcase %>"><%= type %></span>
					</label>
				<% end %>
			</div>
	   	</div>

	   	<div class="form-item container">
		   	<label class="form-item">
		   		<h4>Quick Move</h4>
		  		<%= select_tag "move1", options_for_select(Move.all.map{ |i| i.name }) %>
		  	</label>
		  	<br>
		  	<label class="form-item">
		  		<h4>Main Move</h4>
		  		<%= select_tag "move2", options_for_select(Move.all.map{ |i| i.name }) %>
		  	</label>
	   	</div>

	  <%= f.submit "Submit", :class => "remove" %>
	<% end %>
</div>