<!DOCTYPE html>
<html>
  <head>
    <title>Pokego</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <nav>
	<ul>
		<li><%= link_to image_tag("logo.png", width: "16px", height: "16px"), root_path %></li>
		<li><%= link_to "Pokemon", pokemons_path %></li>
    <li><%= link_to "Trainers", users_path %></li>
    <li><%= link_to "Moves", moves_path %></li>
    <% if @current_user %>
      <li class="remove"><%= link_to "Sign Out", session_path, method: :delete %></li>
      <li class="remove"><%= link_to @current_user.email, user_path(@current_user) %></li>
    <% else %>
      <li class="remove"><%= link_to "Sign In", new_session_path %></li>
      <li class="remove"><%= link_to "Sign Up", new_user_path %></li>
    <% end %>
	</ul>
  </nav>
    <% flash.each do |type, message| %>
    <p class="flash <%= type %>"><%= message %></p>
    <% end %>

    <%= yield %>
  </body>
</html>
